<form class="{{cssClass}}" autocomplete="off">
    <div class="kharadron">
        <div class="wrapper">
            <div class="name">
                <b>Name</b>
                <input name="name" type="text" value="{{item.name}}">
            </div>
        </div>
        <div class="wrapper">
            <div class="availability">
                <b>Availability</b>
                <input name="data.availability" type="text" value="{{data.availability}}">
            </div>
            <div class="cost">
                <b>Cost</b>
                <input name="data.cost" type="text" value="{{data.cost}}">
            </div>
        </div>
        <div class="wrapper">
            <div class="description">
                <b>Description</b>
                <textarea name="data.description">{{data.description}}</textarea>
            </div>
        </div>
    </div>
</form>