<form class="{{cssClass}}" autocomplete="off">
    <div class="party">
        <div class="wrapper border-less">
            <div class="wrapper">
                <div class="soulfire">
                    <b>Soulfire</b>
                    <span>
                        <input name="data.soulfire.value" type="text" value="{{data.soulfire.value}}" data-dtype="Number">
                         /
                        <input name="data.soulfire.max" type="text" value="{{data.soulfire.max}}" data-dtype="Number">
                    </span>
                </div>
            </div>
            <div class="wrapper">
                <div class="doom">
                    <b>Doom</b>
                    <input name="data.doom" type="text" value="{{data.doom}}">
                </div>
            </div>
        </div>
        <div class="wrapper border-less">
            <div class="wrapper ally">
                <div class="header">
                    <b>ALLIES</b>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Add Ally" data-type="ally"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="lists scrollable">
                    {{#each actor.items as |item|}}
                    {{#if item.isAlly}}
                    <div class="list item" data-item-id="{{item._id}}">
                        <b class="name">{{item.name}}</b>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Ally"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Ally"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="wrapper enemy">
                <div class="header">
                    <b>ENEMIES</b>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Add Enemy" data-type="enemy"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="lists scrollable">
                    {{#each actor.items as |item|}}
                    {{#if item.isEnemy}}
                    <div class="list item" data-item-id="{{item._id}}">
                        <b class="name">{{item.name}}</b>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Enemy"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Enemy"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="wrapper border-less">
            <div class="wrapper resource">
            <div class="header">
                <b>RESOURCES</b>
                <div class="item-controls">
                    <a class="item-control item-create" title="Add Resource" data-type="resource"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="lists scrollable">
                {{#each actor.items as |item|}}
                {{#if item.isResource}}
                <div class="list item" data-item-id="{{item._id}}">
                    <b class="name">{{item.name}}</b>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Resource"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Resource"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
        </div>
        <div class="wrapper border-less">
            <div class="wrapper rumour">
                <div class="header">
                    <b>RUMOURS</b>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Add Rumour" data-type="rumour"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="lists scrollable">
                    {{#each actor.items as |item|}}
                    {{#if item.isRumour}}
                    <div class="list item" data-item-id="{{item._id}}">
                        <b class="name">{{item.name}}</b>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Rumour"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Rumour"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="description">{{item.data.description}}</div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="wrapper fear">
                <div class="header">
                    <b>FEARS</b>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Add Fear" data-type="fear"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="lists scrollable">
                    {{#each actor.items as |item|}}
                    {{#if item.isFear}}
                    <div class="list item" data-item-id="{{item._id}}">
                        <b class="name">{{item.name}}</b>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Fear"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Fear"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="description">{{item.data.description}}</div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="wrapper threat">
                <div class="header">
                    <b>THREATS</b>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Add Threat" data-type="threat"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="lists scrollable">
                    {{#each actor.items as |item|}}
                    {{#if item.isThreat}}
                    <div class="list item" data-item-id="{{item._id}}">
                        <b class="name">{{item.name}}</b>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Threat"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Threat"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</form>