.age-of-sigmar {
}

.age-of-sigmar.sheet.actor {
    min-width: 578px;
    min-height: 757px;
}

.age-of-sigmar .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
}

.age-of-sigmar .sheet-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-header .avatar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100px;
    align-self: flex-end;
}

#avatar {
    margin-right: 0;
    height: 100px;
    border: 2px solid black;
}

.age-of-sigmar .sheet-header .avatar .roll {
    padding: 2px;
    margin-top: 25px;
    text-align: center;
}

.age-of-sigmar .sheet-header .avatar .roll input {
    width: 20px;
    text-align: center;
}

.age-of-sigmar .sheet-header .avatar .button-roll {
    padding: 5px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: black;
}

/* ----------------------------------------------- */

.age-of-sigmar .sheet-header .bio {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    border: 2px solid black;
}

.age-of-sigmar .sheet-header .bio div {
    padding: 2px;
}

.age-of-sigmar .sheet-header .bio .name {
    flex-basis: 100%;
}

.age-of-sigmar .sheet-header .bio .archetype {
    flex-basis: 50%;
}

.age-of-sigmar .sheet-header .bio .species {
    flex-basis: 50%;
}

.age-of-sigmar .sheet-header .bio .age {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-header .bio .eyes {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-header .bio .hair {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-header .bio .height {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-header .bio .weight {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-header .bio .distinguishing-features {
    flex-basis: 85%;
}

.age-of-sigmar .sheet-header .bio .xp {
    flex-basis: 15%;
}

/* ----------------------------------------------- */

.age-of-sigmar .tabs {
    height: 40px;
    margin-top: 5px;
    border: 2px solid black;
}

.age-of-sigmar .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.age-of-sigmar .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

/* ----------------------------------------------- */

.age-of-sigmar .sheet-body {
    overflow: hidden;
}

.age-of-sigmar .sheet-body .tab {
    overflow-y: auto;
}

.age-of-sigmar .sheet-body .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-body .main .attributes {
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    border: 2px solid black;
    justify-content: center;
}

.age-of-sigmar .sheet-body .main .attributes .body {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .main .attributes .mind {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .main .attributes .soul {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .main .skills {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid black;
}

.age-of-sigmar .sheet-body .main .skills-left {
    flex: 0 0 50%;
    flex-direction: column;
    border-right: 2px solid black;
}

.age-of-sigmar .sheet-body .main .skills-right {
    flex: 0 0 50%;
    flex-direction: column;
}

.age-of-sigmar .sheet-body .main .skill {
    display: flex;
    align-items: baseline;
    margin: 2px;
    justify-content: center;
}

.age-of-sigmar .sheet-body .main .skill .name {
    flex-basis: 35%;
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .main .skill .training {
    flex-basis: 20%;
    text-align: center;
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .main .skill .focus {
    flex-basis: 20%;
    text-align: center;
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .main .skill span {
    flex-basis: 35%;
}

.age-of-sigmar .sheet-body .main .skill div {
    flex-basis: 20%;
    text-align: center;
}

.age-of-sigmar .sheet-body .main .skill input {
    width: 30px;
}

/* ----------------------------------------------- */

.age-of-sigmar .sheet-body .combat {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar .sheet-body .combat .wrapper {
    display: flex;
    flex-direction: row;
}

.age-of-sigmar .sheet-body .combat .resources {
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-top: 5px;
    border: 2px solid black;
    justify-content: center;
    flex-basis: 60%;
}

.age-of-sigmar .sheet-body .combat .resources .toughness {
    padding: 5px;
}

.age-of-sigmar .sheet-body .combat .resources .toughness b {
    display: block;
}

.age-of-sigmar .sheet-body .combat .resources .toughness input {
    width: 50px;
}

.age-of-sigmar .sheet-body .combat .resources .mettle {
    padding: 5px;
}

.age-of-sigmar .sheet-body .combat .resources .mettle b {
    display: block;
}

.age-of-sigmar .sheet-body .combat .resources .mettle input {
    width: 50px;
}

.age-of-sigmar .sheet-body .combat .resources .wounds {
    padding: 5px;
}

.age-of-sigmar .sheet-body .combat .resources .wounds b {
    display: block;
}

.age-of-sigmar .sheet-body .combat .resources .wounds input {
    width: 50px;
}

.age-of-sigmar .sheet-body .combat .combat-abilities {
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    border: 2px solid black;
    justify-content: center;
    margin-left: 5px;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-body .combat .combat-ability {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.age-of-sigmar .sheet-body .combat .combat-ability .melee {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .combat .combat-ability .accuracy {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .combat .combat-ability .defence {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .combat .combat-ability .initiative {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .combat .combat-ability .armour {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .combat .attacks {
    flex-direction: column;
    margin-top: 5px;
    border: 2px solid black;
    justify-content: center;
    flex-basis: 100%;
}

.age-of-sigmar .sheet-body .combat .attacks .scrollable {
    overflow-y: auto;
    max-height: 70px;
    height: 70px;
}

.age-of-sigmar .sheet-body .combat .attack {
    display: flex;
    margin: 5px;
}

.age-of-sigmar .sheet-body .combat .attack .name {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-body .combat .attack b {
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .combat .attack .dice-pool {
    flex-basis: 10%;
    text-align: center;
}

.age-of-sigmar .sheet-body .combat .attack .focus {
    flex-basis: 10%;
    text-align: center;
}

.age-of-sigmar .sheet-body .combat .attack .damage {
    flex-basis: 20%;
    text-align: center;
}

.age-of-sigmar .sheet-body .combat .attack .traits {
    flex-basis: 40%;
}

.age-of-sigmar .sheet-body .combat .spells {
    flex-direction: column;
    margin-top: 5px;
    border: 2px solid black;
    justify-content: center;
    flex-basis: 100%;
}

.age-of-sigmar .sheet-body .combat .spells .scrollable {
    overflow-y: auto;
    max-height: 155px;
    height: 155px;
}

.age-of-sigmar .sheet-body .combat .spell {
    display: flex;
    margin: 5px;
}

.age-of-sigmar .sheet-body .combat .spell b {
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .combat .spell .name {
    flex-basis: 20%;
}

.age-of-sigmar .sheet-body .combat .spell .dn {
    flex-basis: 10%;
    text-align: center;
}

.age-of-sigmar .sheet-body .combat .spell .target {
    flex-basis: 10%;
    text-align: center;
}

.age-of-sigmar .sheet-body .combat .spell .range {
    flex-basis: 20%;
    text-align: center;
}

.age-of-sigmar .sheet-body .combat .spell .duration {
    flex-basis: 40%;
}

/* ----------------------------------------------- */

.age-of-sigmar .sheet-body .talents {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 460px;
    height: 460px;
    margin-top: 5px;
    border: 2px solid black;
}

.age-of-sigmar .sheet-body .talents .talent {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-body .talents .talent .name {
    flex-basis: 93%;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .talents .talent .description {
    flex-basis: 100%;
    padding: 8px;
    text-align: justify;
}

.age-of-sigmar .sheet-body .talents .talent .item-controls {
    border-bottom: 1px solid black;
}

/* ----------------------------------------------- */

.age-of-sigmar .sheet-body .spells-tab {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 460px;
    height: 460px;
    margin-top: 5px;
    border: 2px solid black;
}

.age-of-sigmar .sheet-body .spells-tab .spell {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-body .spells-tab .spell .name {
    flex-basis: 93%;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    margin-left: 4px;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper .dn {
    flex-basis: 25%;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper .target {
    flex-basis: 25%;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper .range {
    flex-basis: 50%;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper .duration {
    flex-basis: 50%;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper .test {
    flex-basis: 100%;
}

.age-of-sigmar .sheet-body .spells-tab .spell .wrapper .overcast {
    flex-basis: 100%;
}

.age-of-sigmar .sheet-body .spells-tab .spell .description {
    flex-basis: 100%;
    padding: 8px;
    text-align: justify;
}

.age-of-sigmar .sheet-body .spells-tab .spell .item-controls {
    border-bottom: 1px solid black;
}

/* ----------------------------------------------- */

.age-of-sigmar .sheet-body .gears {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-body .gears .currency {
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
    border: 2px solid black;
    justify-content: center;
}

.age-of-sigmar .sheet-body .gears .currency .drops {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .gears .currency .phals {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .gears .currency .spheres {
    padding: 5px;
    flex-basis: 33%;
}

.age-of-sigmar .sheet-body .gears .equipments {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 390px;
    height: 390px;
    margin-top: 5px;
    border: 2px solid black;
}

.age-of-sigmar .sheet-body .gears .equipments .gear {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-wrap: wrap;
}

.age-of-sigmar .sheet-body .gears .equipments .gear .name {
    flex-basis: 93%;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.age-of-sigmar .sheet-body .gears .equipments .gear .description {
    flex-basis: 100%;
    padding: 8px;
    text-align: justify;
}

.age-of-sigmar .sheet-body .gears .equipments .gear .item-controls {
    border-bottom: 1px solid black;
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item {
    min-width: 350px;
    min-height: 300px;
}

.age-of-sigmar.sheet.item .weapon {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .weapon .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .weapon .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .weapon .category {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .weapon .availability {
    flex-basis: 50%;
}

.age-of-sigmar.sheet.item .weapon .damage {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .weapon .cost {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .weapon .traits {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .weapon .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .weapon .description textarea {
    min-height: 80px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .armour {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .armour .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .armour .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .armour .category {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .armour .availability {
    flex-basis: 50%;
}

.age-of-sigmar.sheet.item .armour .type {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .armour .cost {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .armour .requirements {
    flex-basis: 50%;
}

.age-of-sigmar.sheet.item .armour .benefit {
    flex-basis: 50%;
}

.age-of-sigmar.sheet.item .armour .traits {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .armour .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .armour .description textarea {
    min-height: 80px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .gear {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .gear .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .gear .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .gear .availability {
    flex-basis: 50%;
}

.age-of-sigmar.sheet.item .gear .damage {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .gear .cost {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .gear .traits {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .gear .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .gear .description textarea {
    min-height: 80px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .kharadron {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .kharadron .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .kharadron .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .kharadron .availability {
    flex-basis: 50%;
}

.age-of-sigmar.sheet.item .kharadron .cost {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .kharadron .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .kharadron .description textarea {
    min-height: 130px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .talent {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .talent .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .talent .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .talent .requirements {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .talent .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .talent .description textarea {
    min-height: 130px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .spell {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .spell .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .spell .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .spell .dn {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .spell .target {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.item .spell .range {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.item .spell .duration {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.item .spell .test {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.item .spell .overcast {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .spell .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .spell .description textarea {
    min-height: 130px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .trait {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .trait .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .trait .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .trait .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .trait .description textarea {
    min-height: 130px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .attack {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .attack .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .attack .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .attack .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .attack .description textarea {
    min-height: 130px
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.actor .npc {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.actor .npc .wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 2px;
}

.age-of-sigmar.sheet.actor .npc .wrapper.left {
    text-align: left;
}

.age-of-sigmar.sheet.actor .npc .wrapper .roll {
    text-align: center;
    flex-basis: 22%;
    margin-right: 10px;
}

.age-of-sigmar.sheet.actor .npc .wrapper .roll input {
    width: 20px;
    text-align: center;
}

.age-of-sigmar.sheet.actor .npc .wrapper .button-roll {
    border: 2px solid black;
    margin-top: 5px;
    background-color: black;
}

.age-of-sigmar.sheet.actor .npc .wrapper .race {
    flex-basis: 76%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .melee {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .accuracy {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .defence {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .armour {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .toughness {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .wounds {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .mettle {
    flex-basis: 25%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .speed {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .initiative {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .natural-awareness {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .skills {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .header {
    flex-direction: row;
    flex-basis: 100%;
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.age-of-sigmar.sheet.actor .npc .wrapper .header b {
    flex-basis: 90%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .header .item-controls {
    flex-basis: 10%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .traits {
    flex-direction: column;
    flex-basis: 100%;
    display: flex;
}

.age-of-sigmar.sheet.actor .npc .wrapper .traits.scrollable {
    overflow-y: auto;
    max-height: 100px;
    height: 100px;
}

.age-of-sigmar.sheet.actor .npc .wrapper .traits .trait {
    display: flex;
    text-align: left;
    border-bottom: 1px solid black;
}

.age-of-sigmar.sheet.actor .npc .wrapper .traits .trait .name {
    flex-basis: 90%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .traits .trait .item-controls {
    flex-basis: 10%;
    text-align: center;
}

.age-of-sigmar.sheet.actor .npc .wrapper .traits .description {
    flex-basis: 100%;
    padding: 8px;
    text-align: justify;
}

.age-of-sigmar.sheet.actor .npc .wrapper .attacks {
    flex-direction: column;
    flex-basis: 100%;
    display: flex;
}

.age-of-sigmar.sheet.actor .npc .wrapper .attacks.scrollable {
    overflow-y: auto;
    max-height: 100px;
    height: 100px;
}

.age-of-sigmar.sheet.actor .npc .wrapper .attacks .attack {
    display: flex;
    text-align: left;
    border-bottom: 1px solid black;
}

.age-of-sigmar.sheet.actor .npc .wrapper .attacks .attack .name {
    flex-basis: 90%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .attacks .attack .item-controls {
    flex-basis: 10%;
    text-align: center;
}

.age-of-sigmar.sheet.actor .npc .wrapper .attacks .description {
    flex-basis: 100%;
    padding: 8px;
    text-align: justify;
}

.age-of-sigmar.sheet.actor .npc .wrapper .body {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .mind {
    flex-basis: 33%;
}

.age-of-sigmar.sheet.actor .npc .wrapper .soul {
    flex-basis: 33%;
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.actor.party {
    min-height: 600px;
}

.age-of-sigmar.sheet.actor .party {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.actor .party .wrapper {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 5px;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 2px;
}

.age-of-sigmar.sheet.actor .party .wrapper.border-less {
    border: none;
}

.age-of-sigmar.sheet.actor .party .wrapper.ally {
    flex-basis: 49%;
}

.age-of-sigmar.sheet.actor .party .wrapper.enemy {
    flex-basis: 49%;
}

.age-of-sigmar.sheet.actor .party .wrapper.resource {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.actor .party .wrapper.rumour {
    flex-basis: 32%;
}

.age-of-sigmar.sheet.actor .party .wrapper.fear {
    flex-basis: 32%;
}

.age-of-sigmar.sheet.actor .party .wrapper.threat {
    flex-basis: 32%;
}

.age-of-sigmar.sheet.actor .party .wrapper .soulfire {;
    align-items: center;
}

.age-of-sigmar.sheet.actor .party .wrapper .soulfire span {;
    display: flex;
    align-items: center;
}

.age-of-sigmar.sheet.actor .party .wrapper .soulfire input {;
    margin: 2px;
}

.age-of-sigmar.sheet.actor .party .wrapper.doom {
}

.age-of-sigmar.sheet.actor .party .wrapper.doom input {;
    margin: 2px;
}

.age-of-sigmar.sheet.actor .party .wrapper .header {
    flex-direction: row;
    flex-basis: 100%;
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.age-of-sigmar.sheet.actor .party .wrapper .header b {
    flex-basis: 79%;
}

.age-of-sigmar.sheet.actor .party .wrapper .header .item-controls {
    flex-basis: 21%;
}

.age-of-sigmar.sheet.actor .party .wrapper .lists {
    flex-direction: column;
    flex-basis: 100%;
    display: flex;
}

.age-of-sigmar.sheet.actor .party .wrapper .lists.scrollable {
    overflow-y: auto;
    max-height: 100px;
    height: 100px;
}

.age-of-sigmar.sheet.actor .party .wrapper .lists .list {
    display: flex;
    text-align: left;
    border-bottom: 1px solid black;
}

.age-of-sigmar.sheet.actor .party .wrapper .lists .list .name {
    flex-basis: 79%;
}

.age-of-sigmar.sheet.actor .party .wrapper .lists .list .item-controls {
    flex-basis: 21%;
    text-align: center;
}

/* ----------------------------------------------- */

.age-of-sigmar.sheet.item .list {
    display: flex;
    flex-direction: column;
}

.age-of-sigmar.sheet.item .list .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.age-of-sigmar.sheet.item .list .name {
    flex-basis: 75%;
}

.age-of-sigmar.sheet.item .list .description {
    flex-basis: 100%;
}

.age-of-sigmar.sheet.item .list .description textarea {
    min-height: 130px
}